body {
  background: #f8f5f1;
  font-family: 'Poppins', sans-serif;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 700px;
}

h1 {
  text-align: center;
  border-bottom: solid 2px #fbc89d;
}

.form-row {
  margin-bottom: 1rem;
}

.form-row label {
  display: block;
}

.form-row input,
.form-row textarea {
  width: 100%;
  font-size: 1rem;
}

.dish-card {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-bottom: 2rem;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.2),
    0 37.5px 75px -37.5px rgba(0, 0, 0, 0.3);
}

.dish-card--withImage {
  height: 300px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url('http://lorempixel.com/400/200/food') no-repeat;
  background-size: cover;
}

.dish-card h3 {
  margin: 0 0 1rem;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  border-bottom: solid 2px #fbc89d;
  font-weight: 400;
  line-height: 2;
  display: inline-block;
}

.dish-card p {
  margin: 0 0 1rem;
}

.ingredients {
  margin-top: auto;
}

.ingredients span,
.react-tagsinput-tag {
  display: inline-block;
  text-transform: uppercase;
  background: #f8f5f1;
  color: #666;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 0.8rem;
}

.ingredients span + span,
.react-tagsinput-tag + .react-tagsinput-tag {
  margin-left: 10px;
}

.react-tagsinput-tag {
  margin-bottom: 1rem;
}

button {
  display: inline-block;
  text-transform: uppercase;
  background: #f8f5f1;
  color: #333;
  border-radius: 4px;
  padding: 10px 40px;
  border: none;
  font-size: 1rem;
  transition: 0.3s ease all;
  font-weight: 400;
  box-shadow: 0 2px 10px rgba(50, 50, 73, 0.2),
    0 37.5px 75px -5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: #fbc89d;
}
